@import "define"
@import "component"

/* ====================================
 * profile
 * ==================================*/
.profile-page
  h2,h3
    margin-top: 0

/* ====================================
 * #/dashboard/user
 * ==================================*/
@for $i from 1 through 50
  .media-#{$i} .media-#{$i}
    display: table-row

.hide-all .media-,
.media-all .hide-all > tr
  display: table-row

/* ====================================
 * error page
 * ==================================*/
.error-container
  margin-top: 1em
  text-align: center

.error-code
  display: inline-block
  vertical-align: top
  font-size: 100px
  font-weight: 600
  line-height: .7em

.error-details
  display: inline-block
  vertical-align: top
  margin-top: 4em

.error-details ul
  text-align: left

/* ====================================
 * system real_time
 * ==================================*/
.controller-item
  margin-bottom: 5px

.visible-button .fa-eye + .show-label,
.visible-button .fa-eye-slash + .hide-label
  display: none

/* ====================================
 * calendar
 * ==================================*/
.calendar
  display: flex
  flex-wrap: wrap
  border: 1px solid #DDD
  border-width: 2px 1px 1px 2px

  .week-title,
  .pre-date,
  .date,
  .next-date
    flex: auto
    width: 14%
    padding: 10px
    font: 20px/2 Arial, Microsoft Yahei
    border-right: 1px solid #DDD
    border-bottom: 1px solid #DDD

  .sunday
    width: 16%

  .week-title
    text-align: center
    background: #F0F0F0

  p
    text-align: right

  a
    display: block
    text-align: center
    margin-bottom: 0